{{extend '_index.html'}}
{{block title}}
Mis Publicaciones
{{end}}
{{block content}}

<ul class="nav nav-tabs" id="colaboration_tab">
  <li id="nav_persona" {{if request.args(0) == 'persona':}} class = "active" {{pass}}><a href="#persona">{{=T('Personas')}}</a></li>
  <li id="nav_organizacion" {{if request.args(0) == 'organizacion':}} class = "active" {{pass}}><a href="#organizacion">{{=T('Organizaciones')}}</a></li>
  <li id="nav_empresa" {{if request.args(0) == 'empresa':}} class = "active" {{pass}}><a href="#empresa">{{=T('Empresas')}}</a></li>
  <li id="nav_caso" {{if request.args(0) == 'caso':}} class = "active" {{pass}}><a href="#caso">{{=T('Casos')}}</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane {{if request.args(0) == 'persona':}} active {{pass}}" id="persona">
    <!-- <h3> {{ =T("Personas") }}</h3> -->
    {{ =LOAD(c='desktop',f='display_persona.load', ajax=True, user_signature=True) }}


    <!--Lightbox_schedulepersona-->
    <div class="modal hide fade" id="Lightbox_schedulepersona">
        <div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="modal-body">
        <div id="schedule_persona"></div>
        </div>
    </div>
    <!--Fin Schedule Persona--> 



  </div>
  <div class="tab-pane {{if request.args(0) == 'organizacion':}} active {{pass}}" id="organizacion">
    <!-- <h3> {{ =T("Organizaciones") }}</h3> -->

    {{ =LOAD(c='desktop',f='display_organizacion.load', ajax=True, user_signature=True) }}
    <!--Lightbox_scheduleorganizacion-->
    <div class="modal hide fade" id="Lightbox_scheduleorganizacion">
        <div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="modal-body">
        <div id="schedule_organizacion"></div>
        </div>
    </div>
    <!--Fin Schedule Organizacion--> 

    </div>


    <div class="tab-pane {{if request.args(0) == 'empresa':}} active {{pass}}" id="empresa">
    <!-- <h3> {{ =T("Organizaciones") }}</h3> -->

    {{ =LOAD(c='desktop',f='display_empresa.load', ajax=True, user_signature=True) }}
    <!--Lightbox_scheduleempresa-->
    <div class="modal hide fade" id="Lightbox_scheduleempresa">
        <div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="modal-body">
        <div id="schedule_empresa"></div>
        </div>
    </div>
    <!--Fin Schedule Empresa--> 

    </div>

    <div class="tab-pane {{if request.args(0) == 'caso':}} active {{pass}}" id="caso">
    <!-- <h3> {{ =T("Organizaciones") }}</h3> -->

    {{ =LOAD(c='desktop',f='display_caso.load', ajax=True, user_signature=True) }}
    <!--Lightbox_scheduleempresa-->
    <div class="modal hide fade" id="Lightbox_scheduleempresa">
        <div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal">Cerrar</button>
        </div>
        <div class="modal-body">
        <div id="schedule_caso"></div>
        </div>
    </div>
    <!--Fin Schedule Empresa--> 

    </div>


</div>

<script type="text/javascript">
    $('#colaboration_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

$('.programar_persona').click(function(e) {
        e.preventDefault();
        _id = this.id
        web2py_component("{{=URL('editor','schedule_persona.load',args="+_id+")}}","schedule_persona")
    });

    $('.programar_organizacion').click(function(e) {
        e.preventDefault();
        _id = this.id
        web2py_component("{{=URL('editor','schedule_organizacion.load',args="+_id+")}}","schedule_organizacion")
    });
   
$('.programar_empresa').click(function(e) {
        e.preventDefault();
        _id = this.id
        web2py_component("{{=URL('editor','schedule_organizacion.load',args="+_id+")}}","schedule_empresa")
    });

</script>

{{end}}
