<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>{{=response.title or request.application}}</title>
    <!--[if !HTML5]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <![endif]-->
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->

    <meta charset="utf-8" />


    <!-- meta tags for facebook -->

    <meta property="og:title" content="{{ =FACEBOOK['TITLE'] }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ =FACEBOOK['URL'] }}"/>
    <meta property="og:image" content="{{ =FACEBOOK['IMAGE_URL'] }}"/>
    <meta property="og:site_name" content="Poderopedia.org"/>
    <meta property="fb:app_id" content="{{ =FACEBOOK['APP_ID'] }}" />
    <meta property="og:description" content="{{ =FACEBOOK['DESCRIPTION'] }}"/>
    <meta property="og:article:published_time" content="{{ =request.now }}"> <!-- ISO 8601 pubdate -->

    <!-- meta tags for twitter -->

    <meta property="twitter:site" content="{{ =TWITTER['NICK'] }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ =TWITTER['URL'] }}">
    <meta property="twitter:title" content="{{ =TWITTER['TITLE'] }}">
    <meta property="twitter:description" content="{{ =TWITTER['DESCRIPTION'] }}">
    <meta property="twitter:image" content="{{ =TWITTER['IMAGE_URL'] }}">

    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" />

    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />

    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

    <!-- include stylesheets -->
    {{

    response.files.append(URL('static','css/web2py.css'))}}
    <!-- response.files.append(URL('static','css/bootstrap.min.css'))-->
    {{response.files.append(URL('static','css/web2py_bootstrap.css'))
    response.files.append(URL('static','css/bootstrap_designer.css'))
    response.files.append(URL('static','css/style.css'))
    }}

    <!-- inlcude javascript -->




    {{include 'web2py_ajax.html'}}
    <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
    {{block head}}{{end}}

</head>


    <body class="">
        <!-- Header superior, incluye el logo, los botones explorar, crear, la imagen y nombre de usuario -->
        {{block header}}
        <header>
            
            <div class="container">
                <div class="row">
                    <div class="span12 clearfix">
                        <!-- Logo poderopedia admin-->
                        <a href="{{ =URL('default','inicio') }}"><h1 class="logo-admin"><span>Poderopedia admin</span></h1></a>

                        <nav >
                        <!-- <div class="navbar"> -->

                            <ul class="clearfix">
                                <!-- Botones explorar y crear-->
                                <li><a class="" href="#">{{=T('Explorar')}}</a></li>
                                <li>
                                    <div class="dropdown" >
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{=T('Crear')}}<b class="caret"></b></a>
                                        {{if auth.has_membership("collaborator"):}}
                                        <ul class="dropdown-menu">
                                            <li><a href="{{=URL('colaborador','quick_profile_persona')}}"> Crear Persona</a></li>
                                            <li><a href="{{=URL('colaborador','quick_profile_organizacion')}}"> Crear Organizacion</a></li>
                                        </ul>
                                        {{elif auth.user is None:}}
                                        <ul class="dropdown-menu">
                                            <li><a href="{{=URL('sugerencia','persona')}}"> Sugerir Persona</a></li>
                                            <li><a href="{{=URL('sugerencia','organizacion')}}"> Sugerir Organizacion</a></li>
                                        </ul>
                                        {{pass}}
                                    </div>
                                </li>
                            </ul>
                        <!-- </div> -->
                        </nav>

                        <!-- Foto y nombre del usuario --> 
                        <div class="user">
                            <ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
                            <div class="nav-collapse">
                            </div><!--/.nav-collapse -->
                        </div>

                        <!-- Barra de búsqueda --> 
                        <form cldefault/user/loginass="search">
                            <div class="input-append search">
                                <input type="text" name="q" id="q" placeholder='{{=T('Buscar en todo Poderopedia...')}}'/>
                                <button class="btn" type="button"><i class="icon-search"></i></button>
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
            
        </header>
        {{end}}
        <!-- End header superior -->

        <div class="container">

            <div class="row">
                <!-- Título principal-->
                <div class="span12">
                    <h1>
                    {{block title}}
                    Título Principal H1
                    {{end}}
                    </h1>
                </div>
                <!-- End Título principal-->

                <!-- Menú lateral-->
                {{block sidebar}}
                
                <div class="span3 menu">
                    <nav>

                        {{block lateral_menu}}
                        
                            <!-- Item de menu:Datos básicos -->
                        <ul id="accordion2" class="accordion">
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapse_desktop" data-toggle="collapse" >{{=T('Escritorio')}}</a>
                                {{if (auth.has_membership("collaborator")): }}
                                <ul id="collapse_desktop" class="accordion-body collapse">
                                    <li><a href="{{=URL('desktop','admin_desktop')}}">{{=T('Mis Publicaciones')}}</a></li>
                                    <li><a href="{{=URL('colaborador','long_profile_persona')}}">{{=T('Nueva Persona')}}</a></li>
                                    <li><a href="{{=URL('colaborador','long_profile_organizacion')}}">{{=T('Nueva Organizacion')}}</a></li>
                                    <li><a href="{{=URL('colaborador','long_profile_empresa')}}">{{=T('Nueva Empresa')}}</a></li>
                                    <li><a href="{{=URL('colaborador','long_profile_case')}}">{{=T('Nuevo Caso')}}</a></li>
                               </ul>
                               {{pass}}
                            </li>
                            {{if (auth.has_membership("admin")): }}
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapse_publications" data-toggle="collapse" data-parent="#accordion2">{{=T('Publicaciones')}}</a>
                                <ul id="collapse_publications" class="accordion-body collapse">
                                    <li><a href="{{=URL('publication','admin_publication')}}" >{{=T('Todas las publicaciones')}}</a></li>
                                    <li><a href="{{=URL('publication','admin_publication',args='persona')}}" >{{=T('Personas')}}</a></li>
                                    <li><a href="{{=URL('publication','admin_publication',args='organizacion')}}" >{{=T('Organizaciones')}}</a></li>
                                    <li><a href="{{=URL('publication','admin_publication',args='empresa')}}" >{{=T('Empresas')}}</a></li>
                                    
                                    <li><a href="{{=URL('publication','admin_publication',args='caso')}}" >{{=T('Casos')}}</a></li>
                               </ul>
                            </li>
                            {{pass}}
                            {{if (auth.has_membership("admin")): }}
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapseThree" data-toggle="collapse" data-parent="#accordion2">{{=T('Colaboraciones')}}</a>
                                <ul id="collapseThree" class="accordion-body collapse">
                                    
                                    
                                    <li><a href="{{=URL('editor','admin_collaboration')}}">{{=T('Todas las Colaboraciones')}}</a></li>
                                    <li><a href="{{=URL('editor','admin_collaboration',args='persona')}}">{{=T('Personas')}}</a></li>
<!--                                     <li><a href="#">{{=T('Empresas')}}</a></li>
 -->
                                    <li><a href="{{=URL('editor','admin_collaboration',args='organizacion')}}">{{=T('Organizaciones')}}</a></li>
                                    <li><a href="{{=URL('editor','admin_collaboration',args='empresa')}}">{{=T('Empresas')}}</a></li>
                                    <li><a href="{{=URL('editor','admin_collaboration',args='caso')}}">{{=T('Casos')}}</a></li>
                                    
<!--                                     <li><a href="#">{{=T('Casos')}}</a></li>
 -->                                </ul>
                            </li>
                            {{pass}}
                            {{ if auth.has_membership("admin"): }}
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapseSuggestion" data-toggle="collapse" data-parent="#accordion2">{{=T('Sugerencias Anónimas')}}</a>
                                <ul id="collapseSuggestion" class="accordion-body collapse">
                                    <li><a href={{=URL('sugerencia','admin_suggestion')}} class="accordion-toggle">{{=T('Todas las sugerencias')}}</a></li>
                                    <li><a href={{=URL('sugerencia','admin_suggestion',args='persona')}} class="accordion-toggle">{{=T('Personas')}}</a></li>
                                    <li><a href={{=URL('sugerencia','admin_suggestion',args='organizacion')}} class="accordion-toggle">{{=T('Organizaciones')}}</a></li>
                                    <li><a href={{=URL('sugerencia','admin_suggestion',args='empresa')}} class="accordion-toggle">{{=T('Empresas')}}</a></li>
                                    <li><a href={{=URL('sugerencia','admin_suggestion',args='caso')}} class="accordion-toggle">{{=T('Casos')}}</a></li>
                               </ul>
                            </li>
                            {{pass}}
                            {{ if auth.has_membership("admin"): }}
                            <!-- <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapseFour" data-toggle="collapse" data-parent="#accordion2">{{=T('Páginas')}}</a>
                                <ul id="collapseFour" class="accordion-body collapse">     
                                    <li><a href="#" class="accordion-toggle">{{=T('Todas las páginas')}}</a></li>
                                    <li><a href="#" class="accordion-toggle">{{=T('Agregar página nueva')}}</a></li>
                                </ul>
                            </li> -->
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapseFive" data-toggle="collapse" data-parent="#accordion2">{{=T('Usuarios')}}</a>
                                <ul id="collapseFive" class="accordion-body collapse">
                                    <li><a href="{{=URL('user_admin','list_users')}}" class="accordion-toggle">{{=T('Administrar Usuarios')}}</a></li>
                                </ul>
                            </li>
                            {{pass}}
                            {{if (auth.has_membership("collaborator")): }}
                            <li class="collapsed">
                                <a class="accordion-toggle accordion-heading" href="#collapseSix" data-toggle="collapse" data-parent="#accordion2">{{=T('Configuración')}}</a>
                                <ul id="collapseSix" class="accordion-body collapse">
                                    <li><a href="{{=URL('default','user',args=['profile'])}}" class="accordion-toggle">{{=T('Perfil')}}</a></li>
                                    <li><a href="{{=URL('default','user',args=['change_password'])}}" class="accordion-toggle">{{=T('Cambiar Password')}}</a></li>
                                </ul>
                            </li>
                            <!-- <li class="collapsed">
                               <a class="accordion-toggle accordion-heading" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion2">{{=T('Plugins')}}</a>
                                <ul id="collapseSeven" class="accordion-body collapse">
                                    </ul>
                            </li> -->
                            {{pass}}
                        </ul>                     
                    </nav>

                </div>
                
                {{end}}
                <!-- END Menú lateral -->

                <!-- acá va el contenido -->
                <div class="content">
                    <div class="flash">{{=response.flash or ''}}</div>
                    <!-- acá va el contenido -->
                    {{ include }}



                </div>
                <!-- END span9 -->
            </div>
            <!-- END row -->

        </div>
        <!-- END Container -->

        <!-- Footer -->
        <footer>
            {{block footer}}
            <div class="border">
                <div class="container">
                    <!-- Primer Menu footer -->
                    <div class="row titles">
                        <div class="span2">{{=T('Acerca de')}}</div>
                        <div class="span3">{{=T('Comunidad')}}</div>
                        <div class="span3 developers">{{=T('Desarrolladores')}}</div>
                        <div class="span3">{{=T('Ayuda')}}</div>
                        <div class="span1 follow">{{=T('Seguir')}}</div>
                    </div>
                    <!-- END primer menu footer-->
                </div>
            </div>
            <div class="border2">
                <!-- Menús de listas-->
                <div class="container">
                    <div class="footer-nav row">
                        <div class="span2">
                            <ul>
                                <li><a href="#">{{=T('Qué es Poderopedia')}}</a></li>
                                <li><a href="#">{{=T('Equipo')}}</a></li>
                                <li><a href="#">{{=T('Prensa')}}</a></li>
                                <li><a href="#">{{=T('Blog')}}</a></li>
                                <li><a href="#">{{=T('Contacto')}}</a></li>
                            </ul>
                        </div>
    
                        <div class="span3">
                            <ul>
                                <li><a href="#">{{=T('Crea Poderopedia en tu país')}}</a></li>
                                <li><a href="#">{{=T('Súmate a nosotros')}}</a></li>
                                <li><a href="#">{{=T('Sugiere un perfil')}}</a></li>
                                <li><a href="#">{{=T('Sugiere una conexión')}}</a></li>
                                <li><a href="#">{{=T('Apóyanos')}}</a></li>
                            </ul>
                        </div>
    
                        <div class="span3 developers">
                            <ul>
                                <li><a href="#">{{=T('API')}}</a></li>
                                <li><a href="#">{{=T('Ontología')}}</a></li>
                                <li><a href="#">{{=T('Usa nuestro código')}}</a></li>
                                <li><a href="#">{{=T('Documentación')}}</a></li>
                                <li><a href="#">{{=T('Foro Dev')}}</a></li>
                            </ul>
                        </div>
    
                        <div class="span3">
                            <ul>
                                <li><a href="#">{{=T('Guía paso a paso')}}</a></li>
                                <li><a href="#">{{=T('Preguntas frecuentes')}}</a></li>
                                <li><a href="#">{{=T('Lineamientos editoriales')}}</a></li>
                                <li><a href="#">{{=T('Reportar errores')}}</a></li>
                                <li><a href="#">{{=T('Reportar contenido inadecuado')}}</a></li>
                            </ul>
                        </div>
                    
                        <div class="span1 follow">
                            <ul>
                                <li><a href="#"><span class="ico-twitter"></span>{{=T('Twitter')}}</a></li>
                                <li><a href="#"><span class="ico-facebook"></span>{{=T('Facebook')}}</a></li>
                                <li><a href="#"><span class="ico-google"></span>{{=T('Google +')}}</a></li>
                                <li><a href="#"><span class="ico-github"></span>{{=T('Github')}}</a></li>
                                <li><a href="#"><span class="ico-rss"></span>{{=T('RSS')}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END menús de listas-->

            <!-- Menú de logos-->
            <div class="border">
                <div class="container">
                    <div class="clearfix">
                        <h1 class="logo-poderopedia"><a href="#"><span>{{=T('Poderopedia')}}</span></a></h1>

                        <ul class="legal clearfix">
                            <li><a href="#">{{=T('Términos de uso')}}</a></li>
                            <li>|</li>
                            <li><a href="#">{{=T('Política de Privacidad')}}</a></li>
                        </ul>

                        <span class="support">{{=T('Con el apoyo de: ')}}<a class="logo-knight" href="#"><span>{{=T('Knight Foundation')}}</span></a> <a class="logo-startup" href="#"><span>{{=T('Start-up Chile')}}</span></a></span>
                    </div>
                </div>
            </div>
            <!-- END menu de logos-->

            <!-- Menú de copyright-->
            <div>
                <div class="container">
                    <small>{{=T('Un proyecto de ')}}<a href="#">{{=T('Fundación Poderomedia 2012')}}</a>{{=T('. Todo el contenido, a menos que se indique lo contrario, bajo licencia Creative Commons 3.0. Hecho en Chile')}}</small>
                </div>
            </div>
            <!-- END menú de copyright-->
            {{end}}
        </footer>
        <!-- END footer-->
        {{block script}}
        <!--<script src="{{=URL('static','js/jquery.js')}}"></script>-->

        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <!--  -->
        <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

        <script>
            $('a[rel="tooltip"]').tooltip();
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
<!--         {{
        response.files.append(URL('static','js/jquery.js'))
        response.files.append(URL('static','js/bootstrap.min.js'))
        }} -->

        {{end}}
    </body>
</html>
