<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>{{=response.title or request.application}}</title>
    <!--[if !HTML5]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <![endif]-->
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->

    <meta charset="utf-8" />


    <!-- meta tags for facebook -->

    <meta property="og:title" content="{{ =FACEBOOK['TITLE'] }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ =FACEBOOK['URL'] }}"/>
    <meta property="og:image" content="{{ =FACEBOOK['IMAGE_URL'] }}"/>
    <meta property="og:site_name" content="Poderopedia.org"/>
    <meta property="fb:app_id" content="{{ =FACEBOOK['APP_ID'] }}" />
    <meta property="og:description" content="{{ =FACEBOOK['DESCRIPTION'] }}"/>
    <meta property="og:article:published_time" content="{{ =request.now }}"> <!-- ISO 8601 pubdate -->

    <!-- meta tags for twitter -->

    <meta property="twitter:site" content="{{ =TWITTER['NICK'] }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ =TWITTER['URL'] }}">
    <meta property="twitter:title" content="{{ =TWITTER['TITLE'] }}">
    <meta property="twitter:description" content="{{ =TWITTER['DESCRIPTION'] }}">
    <meta property="twitter:image" content="{{ =TWITTER['IMAGE_URL'] }}">

    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}" />

    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />

    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

    <!-- include stylesheets -->
    {{
    response.files.append(URL('static','css/web2py.css'))
    response.files.append(URL('static','css/bootstrap.min.css'))
    response.files.append(URL('static','css/bootstrap-responsive.min.css'))
    response.files.append(URL('static','css/web2py_bootstrap.css'))
    response.files.append(URL('static','css/style.css'))
    }}

    {{include 'web2py_ajax.html'}}
    <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
    {{block head}}{{end}}

</head>


    <body class="">
        <!-- Header superior, incluye el logo, los botones explorar, crear, la imagen y nombre de usuario -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="span12 clearfix">
                        <!-- Logo poderopedia admin-->
                        <h1 class="logo-admin"><a href="#"><span>Poderopedia admin</span></a></h1>

                        <nav>
                            <ul class="clearfix">
                                <!-- Botones explorar y crear-->
                                <li><a class="" href="#">Explorar</a></li>
                                <li><a class="" href="#">Crear</a></li>
                            </ul>
                        </nav>

                        <!-- Foto y nombre del usuario --> 
                        <div class="user">
                            <img class="pic" src="../private/todo/assets/tmp/pic-user.jpg" alt=""/>
                            <strong>Mónica Ventura</strong>
                        </div>

                        <!-- Barra de búsqueda --> 
                        <form class="search">
                            <div class="input-append">
                                <input type="text" name="q" id="q" placeholder="Buscar en todo Poderopedia..."/>
                                <button class="btn" type="button"><i class="icon-search"></i></button>
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
        </header>
        <!-- End header superior -->

        <div class="container">

            <div class="row">
                <!-- Título principal-->
                <div class="span12">
                    <h1>Título Principal H1</h1>
                </div>
                <!-- End Título principal-->

                <!-- Menú lateral-->
                <div class="span3 menu">
                    {{block sidebar_menu}}
                    <nav>
                        <ul>
                            <!-- Item de menu:Datos básicos -->
                            <li class="collapsed"><a href="#">Datos Básicos</a></li>
                            <!-- Item de menu:Perfil -->
                            <li class="collapsed"><a href="#">Perfil</a></li>
                            <li class="expanded">
                                <!-- Item de menu:Conexiones-->
                                <a href="#">Conexiones</a>
                                    <ul>
                                        <li class="active"><a href="#">Familia</a></li>
                                        <li><a href="#">Cónyuge o pareja</a></li>
                                        <li><a href="#">Amigos</a></li>
                                        <li><a href="#">Conocidos</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">Estudios</a></li>
                                        <li><a href="#">Compañeros de Estudios</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">Participación y Cargos en Empresas</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">Cargos en Gobierno</a></li>
                                        <li><a href="#">Partidos Políticos</a></li>
                                        <li><a href="#">Grupos de apoyo a campaña política</a></li>
                                        <li><a href="#">Think Tanks</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">Cargos en Organismos Internacionales</a></li>
                                        <li><a href="#">Participación y cargos en ONG</a></li>
                                    </ul>
                            </li>

                            <!-- Ítems de menu:Mapas,Fuentes,Documentos,Casos-->
                            <li class="collapsed"><a href="#">Mapas</a></li>
                            <li class="collapsed"><a href="#">Fuentes</a></li>
                            <li class="collapsed"><a href="#">Documentos</a></li>
                            <li class="collapsed"><a href="#">Casos</a></li>
                        </ul>
                    </nav>
                    {{end}}
                </div>
                <!-- END Menú lateral -->

                <div class="content">
                    <!-- acá va el contenido -->
                    {{include}}

                </div>
                <!-- END span9 -->
            </div>
            <!-- END row -->

        </div>
        <!-- END Container -->

        <!-- Footer -->
        <footer>
            <div class="border">
                <div class="container">
                    <!-- Primer Menu footer -->
                    <div class="row titles">
                        <div class="span2">Acerca de</div>
                        <div class="span3">Comunidad</div>
                        <div class="span3 developers">Desarrolladores</div>
                        <div class="span3">Ayuda</div>
                        <div class="span1 follow">Seguir</div>
                    </div>
                    <!-- END primer menu footer-->
                </div>
            </div>
            <div class="border2">
                <!-- Menús de listas-->
                <div class="container">
                    <div class="footer-nav row">
                        <div class="span2">
                            <ul>
                                <li><a href="#">Qué es Poderopedia</a></li>
                                <li><a href="#">Equipo</a></li>
                                <li><a href="#">Prensa</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </div>
    
                        <div class="span3">
                            <ul>
                                <li><a href="#">Crea Poderopedia en tu país</a></li>
                                <li><a href="#">Súmate a nosotros</a></li>
                                <li><a href="#">Sugiere un perfil</a></li>
                                <li><a href="#">Sugiere una conexión</a></li>
                                <li><a href="#">Apóyanos</a></li>
                            </ul>
                        </div>
    
                        <div class="span3 developers">
                            <ul>
                                <li><a href="#">API</a></li>
                                <li><a href="#">Ontología</a></li>
                                <li><a href="#">Usa nuestro código</a></li>
                                <li><a href="#">Documentación</a></li>
                                <li><a href="#">Foro Dev</a></li>
                            </ul>
                        </div>
    
                        <div class="span3">
                            <ul>
                                <li><a href="#">Guía paso a paso</a></li>
                                <li><a href="#">Preguntas frecuentes</a></li>
                                <li><a href="#">Lineamientos editoriales</a></li>
                                <li><a href="#">Reportar errores</a></li>
                                <li><a href="#">Reportar contenido inadecuado</a></li>
                            </ul>
                        </div>
                    
                        <div class="span1 follow">
                            <ul>
                                <li><a href="#"><span class="ico-twitter"></span>Twitter</a></li>
                                <li><a href="#"><span class="ico-facebook"></span>Facebook</a></li>
                                <li><a href="#"><span class="ico-google"></span>Google +</a></li>
                                <li><a href="#"><span class="ico-github"></span>Github</a></li>
                                <li><a href="#"><span class="ico-rss"></span>RSS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END menús de listas-->

            <!-- Menú de logos-->
            <div class="border">
                <div class="container">
                    <div class="clearfix">
                        <h1 class="logo-poderopedia"><a href="#"><span>Poderopedia</span></a></h1>

                        <ul class="legal clearfix">
                            <li><a href="#">Términos de uso</a></li>
                            <li>|</li>
                            <li><a href="#">Política de Privacidad</a></li>
                        </ul>

                        <span class="support">Con el apoyo de: <a class="logo-knight" href="#"><span>Knight Foundation</span></a> <a class="logo-startup" href="#"><span>Start-up Chile</span></a></span>
                    </div>
                </div>
            </div>
            <!-- END menu de logos-->

            <!-- Menú de copyright-->
            <div>
                <div class="container">
                    <small>Un proyecto de <a href="#">Fundación Poderomedia 2012</a>. Todo el contenido, a menos que se indique lo contrario, bajo licencia Creative Commons 3.0. Hecho en Chile</small>
                </div>
            </div>
            <!-- END menú de copyright-->
        </footer>
        <!-- END footer-->
        <script>
            $('a[rel="tooltip"]').tooltip();
        </script>
    </body>
</html>
