<ul>
                            <!-- Item de menu:Datos básicos -->
                            <li class="extended"><a href="#" onclick="toggle('node1')">{{=T('Datos Básicos')}}</a></li>
                            <!-- Item de menu:Perfil -->
                            <li class="extended"><a href="#">{{=T('Perfil')}}</a></li>
                            <li class="extended">
                                <!-- Item de menu:Conexiones-->
                                <a href="#">{{=T('Conexiones')}}</a>
                                    <ul>
                                        <li><a href="#">{{=T('Familia')}}</a></li>
                                        <li><a href="#">{{=T('Cónyuge o pareja')}}</a></li>
                                        <li><a href="#">{{=T('Amigos')}}</a></li>
                                        <li><a href="#">{{=T('Conocidos')}}</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">{{=T('Estudios')}}</a></li>
                                        <li><a href="#">{{=T('Compañeros de Estudios')}}</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">{{=T('Participación y Cargos en Empresas')}}</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">{{=T('Cargos en Gobierno')}}</a></li>
                                        <li><a href="#">{{=T('Partidos Políticos')}}</a></li>
                                        <li><a href="#">{{=T('Grupos de apoyo a campaña política')}}</a></li>
                                        <li><a href="#">{{=T('Think Tanks')}}</a></li>
                                        <li class="horizontal-break"></li>
    
                                        <li><a href="#">{{=T('Cargos en Organismos Internacionales')}}</a></li>
                                        <li><a href="#">{{=T('Participación y cargos en ONG')}}</a></li>
                                    </ul>
                            </li>

                            <!-- Ítems de menu:Mapas,Fuentes,Documentos,Casos-->
                            <li class="extended"><a href="#">{{=T('Mapas')}}</a></li>
                            <li class="extended"><a href="#">{{=T('Fuentes')}}</a></li>
                            <li class="extended"><a href="#">{{=T('Documentos')}}</a></li>
                            <li class="extended"><a href="#">{{=T('Casos')}}</a></li>
                        </ul>
