<div class="tab-pane {{if request.args(0) == 'empresa':}} active {{pass}}" id="empresa">
        <!-- <h3> {{ =T("Empresas") }}</h3> -->
        {{ =LOAD(c='editor',f='display_empresa.load', ajax=True, user_signature=True) }}
        <!--Lightbox_scheduleempresa-->
        <div class="modal hide fade" id="Lightbox_scheduleempresa">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal">{{=T('Cerrar')}}</button>
            </div>
            <div class="modal-body">
                <div id="schedule_empresa"></div>
            </div>
        </div>
        <!--Fin Schedule Empresa-->
</div>
