{{extend '_index.html'}}
{{block title}}
{{=T('Listado de Colaboraciones')}}
{{end}}
{{block content}}

<ul class="nav nav-tabs" id="colaboration_tab">
  <li id="nav_persona" {{if request.args(0) == 'persona':}} class = "active" {{pass}}><a href="#persona">Personas</a></li>
  <li id="nav_organizacion" {{if request.args(0) == 'organizacion':}} class = "active" {{pass}}><a href="#organizacion">Organizaciones</a></li>
  <li id="nav_empresa" {{if request.args(0) == 'empresa':}} class = "active" {{pass}}><a href="#empresa">Empresas</a></li>
  <li id="nav_caso" {{if request.args(0) == 'caso':}} class = "active" {{pass}}><a href="#caso">Casos</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane {{if request.args(0) == 'persona':}} active {{pass}}" id="persona">
    <!-- <h3> {{ =T("Personas") }}</h3> -->
    {{ =LOAD(c='sugerencia',f='display_persona.load', ajax=True, user_signature=True) }}
  </div>
  <div class="tab-pane {{if request.args(0) == 'organizacion':}} active {{pass}}" id="organizacion">
    <!-- <h3> {{ =T("Organizaciones") }}</h3> -->

    {{ =LOAD(c='sugerencia',f='display_organizacion.load', ajax=True, user_signature=True) }}
  </div>
  <div class="tab-pane {{if request.args(0) == 'empresa':}} active {{pass}}" id="empresa">
    <!-- <h3> {{ =T("Empresas") }}</h3> -->

    {{ =LOAD(c='sugerencia',f='display_empresa.load', ajax=True, user_signature=True) }}
  </div>
  <div class="tab-pane {{if request.args(0) == 'caso':}} active {{pass}}" id="caso">
    <!-- <h3> {{ =T("Empresas") }}</h3> -->

    {{ =LOAD(c='sugerencia',f='display_caso.load', ajax=True, user_signature=True) }}
  </div>


</div>

<script type="text/javascript">
    $('#colaboration_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>

{{end}}
