{{extend '_index.html'}}
{{block title}}
Historial de usuarios
{{end}}

                <div class="content">

                    <div class="clearfix">
                        <!-- subtítulo -->
                        <h2 class="pull-left">Historial Mónica Ventura <span class="label label-important">superadministrador</span></h2>
                        <!-- END subtítulo -->
                        <!-- botón perfil de usuario -->
                        <button class="btn btn-primary pull-right" type="button">Perfil de este Usuario</button>
                        <!-- END botón perfil de usuario -->
                    </div>

                    <!-- Toolbar -->
                    <div class="btn-toolbar clearfix">
                        <div class="btn-group">
                            <button class="btn large">Todos</button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            </ul>
                        </div>
                    
                        <div class="btn-group">
                            <button class="btn large">Fecha</button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            </ul>
                        </div>

                        <button class="btn" type="button">Filtrar</button>
                        <span class="vertical-break"></span>
                        
                        <div class="btn-group">
                            <button class="btn btn-primary">Crear</button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            </ul>
                        </div>
                        <!-- END toolbar -->

                        <!-- barra de búsqueda -->
                        <form class="form-search pull-right">
                            <div class="input-append">
                                <input type="text" class="input-small search-query">
                                <button type="submit" class="btn">Buscar</button>
                            </div>
                        </form>
                        <!-- END barra de búsqueda -->
                    </div>

                    <!-- Main table -->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="align-center">E</th>
                                <th>Nombre Publicación</th>
                                <th>Editado por</th>
                                <th>Actualizado</th>
                                <th class="align-center">Acciones</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>

                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>

                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Colmena → Conexiones lorem ipsum</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Colmena → Conexiones lorem ipsum</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Colmena → Conexiones lorem ipsum</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Colmena → Conexiones lorem ipsum</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Colmena → Conexiones lorem ipsum</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Caso La Polar → Imagen de perfil</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                            <tr>
                                <td><i class="icon-user"></i></td>
                                <td><a href="#">Sebastián Piñera → participación en cargos públicos</a></td>
                                <td><a href="#">monica.ventura.123</a></td>
                                <td>Feb 14, 2013 15:43</td>
                                <td class="align-center"><i class="icon-cog"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                    <!-- END main table -->
                    <small>(8.520 Publicaciones)</small>

                </div>
                <!-- END span9 -->
            </div>
            <!-- END row -->

        </div>
        <!-- END Container -->
